
@{
    ViewBag.Title = "داشبورد";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<section class="content-header">
    <h1>
        داشبورد
        <small>پنل مدیریت</small>
    </h1>
</section>
<!-- Main content -->
<section class="content" style="color:aliceblue">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color: #00c0ef !important;">
                <div class="inner">
                    <h3>4</h3>
                    <p>تعداد مشتریان</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="#" class="small-box-footer">جزییات <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color: #00a65a !important;">
                <div class="inner">
                    <h3>5</h3>
                    <p>سفارشات کامل شده</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <a href="#" class="small-box-footer">جزییات <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color: #f39c12 !important;">
                <div class="inner">
                    <h3>3</h3>
                    <p>تعداد ماشین ها</p>
                </div>
                <div class="icon">
                    <i class="fa fa-truck"></i>
                </div>
                <a href="#" class="small-box-footer">جزییات <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box" style="background-color: #dd4b39 !important;">
                <div class="inner">
                    <h3>2</h3>
                    <p>تعداد رانندگان</p>
                </div>
                <div class="icon">
                    <i class="fa fa-car"></i>
                </div>
                <a href="#" class="small-box-footer">جزییات <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>